/* loader */
.loader{
    z-index: 5;
    position: relative;
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
}
svg {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
  width: 10em;
}
rect, polyline, path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1.5s forwards ease-in-out infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  50%{
     stroke-dashoffset: 0;
  }
  99.9%{
    stroke-dashoffset: 1000;
  }
  100%{
   stroke-dashoffset: 0;
  }
}

body#subpage {
    margin: 0;
    position: relative;
    padding-top: 70px;
}
.gallery img {
    width: 90%;
    margin: 0 5% 20px;
}
.back {
    font-family: simplifica, sans-serif;
    font-size: 50px;
    top: 15px;
    cursor: pointer;
}
.fetched>div {
    margin-bottom: 20px;
}
h3 {
    font-size: 23px;
    margin-bottom: 20px;
}
#subpage input {
    width: 100%;
    line-height: 20px;
    border: 1px solid lightgrey;
}

#subpage input.message {
    height: 100px;
}

#subpage div.closeMe {
    display: none;
}
#subpage button.submit {
    font-size: 33px;
    padding: 10px 0 0 0;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 1em;
}
section.subPageS, #subpage aside {
    padding: 0 5%;
}
#subpage .inquire {
    font-size: 63px;
    padding: 0;
    background: transparent;
    display: none;
}
#subpage .title {
    font-size: 50px;
    font-weight: 100;
}
.year-of-creation {
    font-size: 16px;
    font-family: Sukhumvit-thin, sans-serif;
}
.dimension {
    font-size: 19px;
    color: var(--medium-grey);
    font-family: simplifica, sans-serif;
}
.description p, .concept p {
    color: var(--dark-grey);
}
.quote, .personalMex {
    color: var(--medium-grey);
}
.share {
    font-family: simplifica, sans-serif;
    margin-right: 20px;
    font-size: 23px;
    color: var(--dark-grey);
}
.SoMeIcon {
    width: 50px;
    margin-right: 5px;
    opacity: .3;
}
#subpage form {
    margin-bottom: 50px;
    font-family: Sukhumvit-bold, sans-serif;
}

@media screen and (min-width: 760px){
    #subpage .inquire {
        display: inherit;
    }
}
